{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Edit profile</h1>

    <form method="post">
        <div>
            <label for="firstname" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.firstname }}">
        </div>
        <div>
            <label for="lastname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.lastname }}">
        </div>

        <div>
            <label for="subscription" class="form-label">Subscription</label>
            <select class="form-control" id="subscription" name="subscription">
                {% for subscription in subscriptions %}
                    <option value="{{ subscription.id }}" {% if user.subscription == subscription %}selected{% endif %}>
                        {{ subscription.title }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn">Update</button>
    </form>
</div>
{% endblock %}
