* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: #444444;
}

.navbar {
    border-bottom: #b0b0b0 1px solid;
    padding: 1.2em 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #272727;
    background-color: #fff;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    font-weight: 600;
    transition: all .2s;
}

.navbar a:hover {
    color: #11c900;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.logo span {
    color: #11c900;
}

.wrapper {
    margin: 30px 150px;
}

h1 {
    text-align: center;
}

/* HOMEPAGE */
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    padding: 2.5em 2em;
    border: #cecece 2px solid;
    width: 30%;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
}

.card:hover {
    border: #11c900 2px solid;
}

.card p:nth-child(4) {
    font-size: 20px;
    font-weight: 600;
    color: #11c900;
}

.container {
    margin-top: 30px;
    text-align: center;
    line-height: 2;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.btn {
    background-color: #11c900;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all .2s;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0faf00;
}

/* LOGIN */
.login-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
