{% extends 'base.html.twig' %}

{% block title %}Generate a PDF{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

<div class="example-wrapper">
    {{form(form)}}
</div>
{% endblock %}
